body{
min-height: 100vh;
background: linear-;
  background: linear-gradient(pink,blue) ;
  display: flex;
  justify-content: center;
  aling-items: center;
}
span{
  background-color: white;
padding: 20px 30px;
  border-radius: 10px;
box-shadow: ;
}
